<?xml version='1.0' encoding='utf-8'?>
<widget id="ai.newsmute" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>News Mute</name>
    <description>
        News Mute reads out your news updates for you
    </description>
    <author email="TalkToMe@Adimpression.mobi" href="http://cordova.io">
        Adimpression
    </author>
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
</widget>
