<?xml version='1.0' encoding='utf-8'?>
<widget id="ai.newsmute" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>News Mute</name>
    <description>
        News Mute has My Kind of News
    </description>
    <author email="TalkToMe@Adimpression.mobi" href="http://Adimpression.mobi">
        Adimpression LLC
    </author>
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="fullscreen" value="false" />
    <preference name="errorUrl" value="file:///android_asset/www/error.html" />
    <preference name="loadingDialog" value="News Mute is muting news, please be silent meanwhile!" />

</widget>
